<!DOCTYPE html>
<html lang="en" ng-app="multiplyApp">
  <head>
    <meta charset="UTF-8">
    <title>Multiplication Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div ng-controller="MultiplicationCtrl as vm" initial-number-limit="10">
    <p>Multiplication Table</p>
    <input type="number" ng-model="vm.numberLimit" placeholder="Enter a number here">
      <table>
        <tbody>
          <tr ng-repeat="numberA in vm.numbers()">
            <td ng-repeat="numberB in vm.numbers()">
              {{ vm.compute(numberA, numberB) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="app.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </body>
</html>